@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/* background: linear-gradient(89deg, #60a392, #e35149, #ce18ec);
background-size: 600% 600%; */
/* .slide-background.present {
    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */


.highlight {
    color: red;
}

section img {
    width: 35rem;
}

p.subtitle {
    font-size: 1rem;
}

p.bold {
    font-weight: bold;
}

.special {
    font-family: 'Dr Sugiyama', cursive !important;
}

.styled {
    font-family: 'Gloria Hallelujah', cursive !important;
}

.dots li:nth-child(n+2)::before {
    content: "";
    border-left: 1px solid #000000;
    position: relative;
    top: -23px;
    left: -26px;
}